*{
    margin:0;
    padding:0;
    
    

}

body{


    background-color:#DFE0E0;
    width: 100%;
    align-items: center;
justify-content: center;
flex-direction: column;



}

.ensemble{
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}


.photo{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
   
}



#pseudo{
    display: flex;
    font-family:Impact, fantasy;
    width: 60px;
    height: 15px;
    margin: 20px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
   
}


#info{

    width: 550px;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    align-items: center;
   
    
}

#email{
    display: flex;
    width: 260px;
    margin: 10px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: black;
    border-style: solid;
    border-top: unset;
    border-bottom: unset;
    padding: 10px;
}

#date{
    display: flex;
    width: 260px;
    
    height: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ami{
    display: flex;
    width: 260px;
   
    height: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


